---
title: Kensuke Nagae
---

<div class="container">
  <div class="starter-template">

    <h1>Kensuke Nagae</h1>

    <p class="lead">
      Kensuke Nagae is a Tokyo-based software engineer.<br>
      He likes web and he wants to be a cross-functional developer.
    </p>

    <ul class="links">
      <li>
        <a href="http://blog.kyanny.me/"><img src="img/hatenablog-logo.svg" width="64"></a>
      </li>
      <li class="github">
        <a href="https://github.com/kyanny"><img src="img/github.svg" width="56"></a>
      </li>
      <li>
        <a href="https://twitter.com/kyanny"><img src="img/twitter.svg" width="48"></a>
      </li>

    </ul>

    <p class="resume">
      <a href="/resume.pdf">Résumé</a>
    <p>

    <ul class="contacts">
      <li>
        <a href="mailto:kyanny@gmail.com"><img src="img/email.svg" width="48"></a>
      </li>
      <li>
        <a href="mailto:kyanny@gmail.com">kyanny@gmail.com</a>
      </li>
    </ul>

  </div>
</div>
